# Cache de dependências e módulos instalados
# Ignora QUALQUER pasta node_modules no projeto (ex: ./node_modules, ./frontend/node_modules)
node_modules/
backend/venv
# Arquivos de build e saída de compilação
# Ignora a pasta de build do Next.js
.next/
.vercel/
# Pastas de build e distribuição comuns
build/
dist/
.out/

# Variáveis de Ambiente e Segredos
# NUNCA envie segredos para o Git.
# O padrão *.env* ignora .env, .env.local, .env.production, etc. em qualquer pasta.
*.env*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*__pycache__*
# Logs e arquivos de depuração
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Arquivos de banco de dados locais (ex: SQLite para desenvolvimento)
*.sqlite
*.sqlite3

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos de configuração de Editores e IDEs
.vscode/
.idea/

# Python cache
__pycache__/
*.pyc

